.buyBtn__goCart {
  background-color: #eccb00;
  border: #eccb00;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
}

.buyButtons__goMenu {
  background-color: #eccb00;
  border: #eccb00;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
}
