.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 0ex;
}
.header__log {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}
.header__photo {
  padding: 15px;
  height: 80px;
}
.brand {
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}
.navBar__list {
  display: flex;
  flex-flow: row wrap;
}
.navBar__item {
  list-style: none;
  margin: 0 10px;
  margin-top: 1px;
  color: #adb5bd;
  font-weight: 600;
}
.navBar__link {
  text-decoration: none;
}
.navBar__link:hover {
  opacity: 0.7;
}
